@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap');

.our-services-section {
  padding: 60px 20px;
  background-color: #F4F4F4;
  background-image: url('../images/background-texture.png'); /* Apply texture */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: #111111;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  color: #111111;
  margin-bottom: 40px;
  font-family: 'Cormorant Garamond', serif;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.service-box {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: #FFFFFF;
  height: 400px;
  display: block;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.service-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}

.service-box:hover .service-image {
  transform: scale(1.03);
}

.service-overlay {
  position: absolute;
  left: -15px;
  bottom: 0;
  background: rgba(26, 26, 26, 0.8);
  width: 100%;
  padding: 20px;
  color: white;
}

.service-title {
  font-size: 1.4rem;
  margin-bottom: 10px;
  text-align: left;
  font-family: 'Cormorant Garamond', serif;
  color: #FFFFFF;
}

.service-overlay p {
  font-size: 0.95rem;
  text-align: left;
  margin: 0;
  color: #CCCCCC;
}
