@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap');

.our-vehicles-section {
  padding: 60px 20px;
  background-color: #F4F4F4;
  background-image: url('../images/background-texture.png'); /* Texture image */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: #111111;
  text-align: center;
  max-width: 1400px;
  margin: 0 auto;
}

.our-vehicles-section h2 {
  font-size: 2.8rem;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
  margin-bottom: 40px;
  color: #111111;
}

.vehicle-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
  margin-top: 40px;
}

.vehicle-card {
  background-color: #E0E0E0;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  color: #111111;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.vehicle-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.08);
}

.vehicle-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.vehicle-card h4 {
  font-size: 1.1rem;
  font-weight: 600;
  font-family: 'Cormorant Garamond', serif;
  margin: 16px 12px 20px;
  color: #111111;
}
